*{margin: 0;
padding: 0;}

#bluediv{
    background-color: rgb(42, 175, 252);
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right,rgb(42, 175, 252),rgb(10, 99, 151))
}
.dim{
    height:95vh;
    width: 50%;
}
#container{
    height: 160px;
    display: flex;
    flex-direction: column;
justify-content: space-between;
font-size: 18px;
color: white;
font-family: 'Patua One', cursive;
}
input{
    height: 40px;
    width: 200px; 
}
#whitediv{
    display: flex;
    justify-content: center;
    align-items: center;
}
#mid{height: 32vh;
    width: 45vh;
    font-size: 25px;
   margin-top:-80px; 
}
i{
    padding-right:15px;
}
.tt{
    height: 43px;
    width: 65px;
    border-radius: 30px;
    border: 1px solid  rgb(42, 175, 252);
    background-color: white;
    color: rgb(42, 175, 252);
    padding: 0;
    
}
button{
    width: 325px;
    height: 35px;
    margin-top: 15px;
    border-radius: 20px;
    border: 1px solid rgb(42, 175, 252);
    font-size: 14px;
}
input{
    border: 1px solid rgb(209, 208, 208);
    margin-left: 10px;
    padding-left: 7px;
}
#btn1{
    color: white;
    background-color: rgb(42, 175, 252)
}
#btn2{
    color: rgb(42, 175, 252);
    background-color: white;
}
#absolute{
    position: absolute;
    top: 30px;
}
#bot{
    height: 40px;
    width: 100vw;
    border-top: 1px solid rgb(172, 171, 171);
    position: fixed;
    bottom: 0;
    background-color: white;
}
.init:focus{
    outline: none;
    border: 1px solid rgb(112, 193, 247);

}
#mmm{
    display: flex;
}
.tt:hover{
    background-color: rgb(206, 236, 247);
}
#btn1:hover{
    background-color: rgb(32, 149, 218);
    border: 1px solid rgb(32, 149, 218);
}
#btn2:hover{
    background-color: rgb(206, 236, 247);
}
#hh:hover{
    border-bottom: 1px solid rgb(197, 195, 195);
    cursor: pointer;
}
#yt{
    position: relative;
    left:240px;
    top:-10px;
}


/*@media (min-width:1060px) and (max-width:1600px){
    mm{
        position: relative;
        right: 70px;}
    }*/
    @media (min-width:0px) and (max-width:1048px)
    {
        #mmm{
            display: none;
        }
    }
    @media (min-width:1048px) {
        #yt{
            display: none;
        }
    }
   @media(max-width:1026px) {
#main{flex-direction: column-reverse;}
.dim{
width: 100%;
height: 44vh;

}
#bluediv{height: 45vh;
   }
   }


@media(max-width:769px) and (min-width:418px){
    #mid{
        position: relative;
     left: 0px;
     top:10px;
     }
     #yt{position: relative;
        left: 320px;
        top: 15px;
       
    }
}
@media(max-width:376px) and (min-width:330px) {
    #yt{position: relative;
      left: 250px;   
       
    }
    #bluediv{
        height: 43vh;
        position: relative;
        top: 10px;
    }
}
@media(max-width:360px) and (min-width:0px){
    #whitediv{
        height: 38vh;
    }
    #yt{position: relative;
        left: 20em;   
         top:8px;
      }
      #mid{
          width: 91%;
          position: relative;
          left: 10px;
      }
      .btn{
          width: 90%;
      }
      #bluediv{
        height: 38vh;
        position: relative;
        top: 60px;
    }
}
@media(max-width:330px){
    #yt{
        position: relative;
        left: 240px;
    }
    #mid{
        width: 91%;
        position: relative;
        left: 15px;
    }
}